@use './variables' as v;
@mixin button {
    background-color: v.$darkBlue;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: none;
    min-width: 120px;
    padding: 10px 10px;
    color: inherit;
    cursor: pointer;
    &:hover, 
    &:focus {
        transform: scale(1.05);
    }
}

@mixin lightTheme {
    background-color: v.$lightGrey; 
    color: v.$veryDarkBlue;
}

@mixin lightThemeWhite {
    background-color: v.$white; 
    color: v.$veryDarkBlue;
}

